<hr>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <h1></h1>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-2">
      <!--left col-->


      <div class="text-center">
       {{#if userData.image}}
      
        <img style="width: 150px; " src="/uploads/{{userData.image}}" class="avatar img-circle img-thumbnail" >
      {{else}}
      <img style="width: 150px; " src="/images/proPic.png" class="avatar img-circle img-thumbnail" >
      {{/if}}

      </div>
      </hr><br>





      <ul class="list-group">
        <li class="list-group-item text-muted"> Menu <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"> <span class="pull-left"><strong> <a href="/orders"> Orders</a>
            </strong></span> </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong><a href="/account-addresses"> Address</a>
            </strong></span> </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong><a href="account-password-change">Change
                Password </a> </strong></span> </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong><a href=""></a> </strong></span> </li>
      </ul>

      {{!-- <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i
            class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div> --}}

    </div>
    <!--/col-3-->
    <div class="col-sm-6">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>

      </ul>


      <div class="tab-content">
        <div class="tab-pane active" id="home">

          <form class="form">
            <div class="form-group">

              <div class="col-xs-6">
                <label for="first_name">
                  <h4>Old Password</h4>
                </label>
                <input type="password" class="form-control" onkeyup="validOldPassword()" name="old_password" id="old_password"
                  >
                  <span id="old_passwordSpan" ></span>
              </div>
            </div>



            <div class="form-group">
              <div class="col-xs-6">
                <label for="mobile">
                  <h4>New Password</h4>
                </label>
                <input type="password"  class="form-control" onkeyup="validPassword()" name="password"  id="password" 
                  >
                  <span id="passwordSpan" ></span>
              </div>
            </div>
           

   
            <div>
              <div class="col-xs-12">
                <br>
                <button onclick="return validation()" type="submit" class="btn btn-lg btn-success"> <i
                    class="glyphicon glyphicon-ok-sign"></i>Save</button>

              </div>
            </div>
          </form>



          <!--/tab-pane-->


        </div>
        <!--/tab-content-->

      </div>
      <!--/col-9-->
    </div>
    <div class="col-sm-4">

     
      

    </div>



    <!--/row-->
  </div>
</div>


<script>

errorPassword=document.getElementById('passwordSpan').innerHTML
errorCnfPassword=document.getElementById('old_passwordSpan').innerHTML





</script>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>